*{
    color: #1e272e;
    font-family: 'Roboto', sans-serif;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.text-gray2{
    color: #485460;
}
.bg-gray2{
    color: #485460;
}

.modal-content-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}